@import "fonts"
@import "mixins"
@import "constants"

body
    background-color: $bg-color

.header
    display: flex
    align-items: center
    flex-grow: row
    justify-content: space-between

    // color: #fff

    .headshot img
        width: 100px
        border-radius: 50px
        border: 1px $line-color solid

    .contact
        margin-left: $default-spacing

    h1
        font-family: $header-font
        font-weight: lighter
        &:before
            content: "# "
            color: $link-color

.container
    max-width: 500px
    margin: auto
    font-family: $body-font
    color: $font-color

.navbar
    display: none

.content
    +clean-link($link-color)

    p
        margin-left: $default-spacing

    h2
        // +line-after($default-spacing, .65em, $line-color)
        &:before
            content: "## "
            color: $link-color
        font-family: $header-font
        font-weight: lighter

#about
    +clean-link($link-color)

// styling the publication list, as appropriate
#publications
    // no formatting on the list, and add spacing between each
    +clean-list($default-spacing)

    // title is a link, but needs to look better
    .title
        +clean-link($link-color)

    // most other things are italicized or deemphasized somehow
    .authors, .location, .at
        @extend %subtle

    .awards
        font-weight: lighter

    .resources
        a:not(:last-child):after
            content: " | "
            color: $font-color

// styling the workshop talks list, similar to above
#workshops
    // no formatting on list, with space between
    +clean-list($default-spacing)
    
    // clean up title
    .title
        +clean-link($link-color)
        
    .location, .at
        @extend %subtle

#community
    // if there are links, make sure they're clean
    +clean-link($link-color)
    +clean-list($default-spacing)

    .community_year
        color: $link-color

    .event
        &:not(:last-child):after
            content: " | "