<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
        <!-- css includes -->
        <link rel="stylesheet" href="/css/normalize.css">

        <!-- compile sass automatically -->
        {{ $style := resources.Get "sass/style.sass" | toCSS | minify | fingerprint }} 
        <link rel="stylesheet" href="{{ $style.Permalink }}">
    </head>
    <body>
        {{ block "main" . }}
            <!-- main content goes here -->
        {{ end }}
    </body>
</html>