{{ define "main" }}
    <div class="container">
        <div class="header">
            <div>
                <h1>{{ .Params.name }}</h1>
                <div class="contact">
                    <p>
                            {{ .Params.position }} <br>
                            {{ .Params.affiliation }} <br>
                            {{ .Params.email }} <br>
                    </p>
                </div>        
            </div>
            <div class="headshot">
                <img src="/images/headshot.jpg" alt="Calvin Smith">
            </div>
        </div>
        <div class="content">
            <section id="about">
                <h2>About</h2>
                {{ .Content }}
            </section>
            
            <section id="papers">
                {{ $papers := (where .Site.RegularPages "Section" "==" "papers") }}
                {{ $papersCount := len $papers }}
            
                {{ if lt $papersCount 11 }}
                    <h2>Papers</h2>
                    <ul>
                        {{ range $papers }}
                            {{ .Render "card" }}
                        {{ end }}
                    </ul>
                {{ else }}
                    {{ $selectedPapers := where $papers ".Params.selected" true }}
                    <h2>Selected Papers</h2>
                    <ul>
                        {{ range first 10 $selectedPapers }}
                            {{ .Render "card" }}
                        {{ end }}
                    </ul>
                    <a href="/papers/">All papers</a>
                {{ end }}
            </section>

            <!-- WORKSHOP PRESENTATIONS -->
            <section id="workshops">
                {{ $workshops := (where .Site.RegularPages "Section" "==" "workshops") }}
                {{ $workshopsCount := len $workshops }}
        
                {{ if lt $workshopsCount 6 }}
                    <h2>Workshops</h2>
                    <ul>
                        {{ range $workshops }}
                            {{ .Render "card" }}
                        {{ end }}
                    </ul>
                {{ else }}
                    {{ $selectedWorkshops := where $workshops ".Params.selected" true }}
                    <h2>Selected Workshop Talks</h2>
                    <ul>
                        {{ range first 5 $selectedWorkshops }}
                            {{ .Render "card" }}
                        {{ end }}
                    </ul>
                    <a href="/workshops/">All workshops</a>
                {{ end }}
            </section>

            <!-- COMMUNITY SERVICE -->
            <section id="community">
                {{ $community := (where .Site.RegularPages "Section" "==" "community") }}
                
                <h2>Community</h2>
                <ul>
                    {{ range $community.GroupByDate "2006" "desc" }}
                        <li>
                            <span class="community_year">{{ .Key }}</span>
                            <span class="community_events">
                                {{ range .Pages }}
                                    {{ .Render "event" }}
                                {{ end }}
                            </span>
                        </li>
                    {{ end }}
                </ul>

            </section>
        </div>
    </div>
{{ end }}